# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/

# SQLite database
*.sqlite3

# Django media and uploads
media/
customer_pdfs/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

doc/
